/* Home*/




/* Produk*/




/* Fitur*/

.kamera {
    position:absolute;
    top:77px;
    left:565px;
    z-index:10;
    
}

.layar1 {
    position:absolute;
    top:200px;
    left:530px;
    z-index:10;
    
}

.layar2 {
    position:absolute;
    top:360px;
    left:500px;
    z-index:10;
}
.touchpad {
    position:absolute;
    top:650px;
    left:500px;
    z-index:10;
}

.kirilaptop {
    position:absolute;
    top:300px;
    left:500px;
    z-index:10;
}


/* Spesifikasi*/




/* Video*/
